@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for the dark/light toggle  */

.dot {
  transition: all 0.3s ease-out;
}

input:checked ~ .dot {
  transform: translateX(20px);
}

/* CSS for custom checkbox on job search page */

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #44444f;
  border-radius: 4px;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  display: none;
}

.checked {
  background: #529cf1;
}

.checked::before {
  display: block;
}

.toast_enter_right {
  animation: toast-in-right 0.7s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.error {
  animation: shake 0.2s ease-in-out 0s 2;
}

.mobile-nav-show {
  animation: mobileViewEnter 0.3s;
}

@keyframes mobileViewEnter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.fade_In {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--black1);
  line-height: 2.5rem;
  font-style: normal;
}
